<%= form_for(appoint) do |f| %>
  <% if appoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appoint.errors.count, "error") %> prohibited this appoint from being saved:</h2>

      <ul>
      <% appoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Speciality %>
    <%= f.select :speciality, Doctor.all.collect {|x| [x.speciality,x.speciality]}, { include_blank: 'Please select one' } %>
  </div>

  <div class="field">
    <%= f.label :doctor_name %>
    <%= f.select :doctor_id, Doctor.all.collect {|x| [x.name, x.id, {'data-speciality'=>x.speciality} ]} %>
  </div>

  <div class="field">
    <%= f.label :complaint %>
    <%= f.text_area :complaint %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.number_field :date, placeholder: 'YYYYMMDD' %>
  </div>

  <div class="field">
    <%= f.label :Time %>
    <%= f.select :time_slot, [8,9,10,11,12,13,14,15,16,17,18,19,20].collect {|x| [x.to_s+":00 - "+(x+1).to_s+":00",x]}, { include_blank: 'Select Time' } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <input type="hidden" name="appoint[user_id]" value="<%=@current_user.id%>">
<% end %>
