<%= form_for(appoint) do |f| %>
  <% if appoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appoint.errors.count, "error") %> prohibited this appoint from being saved:</h2>

      <ul>
      <% appoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= label_tag :doctor_speciality %>
      <%= select_tag :doctor_speciality, options_from_collection_for_select( Doctor.all.collect, :speciality, :speciality) %>
    </div>

  <div class="field">
    <%= f.label :doctor_name %>
    <%= f.select :doctor_id, Doctor.all.collect {|x| [x.name, x.id, {'data-speciality'=>x.speciality} ]} %>
  </div>

  <div class="field">
    <%= f.label :complaint %>
    <%= f.text_area :complaint %>
  </div>


  <div class="field">
    <%= f.label :date %>
    <%= f.number_field :date %>
  </div>

  <div class="field">
    <%= label_tag :time_slot %>
    <%= select_tag :time_slots, options_for_select(@time_slots, selected = nil) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
