<%= form_for(doctor) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Enter your name" %>
  </div>

  <div class="field">
    <%= f.label :speciality %>
    <%= f.text_field :speciality, placeholder: "Enter your speciality" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
